* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
  text-decoration: none;
  /* background: transparent;  <-- Remove this line */
}

body {
  background: linear-gradient(110deg, #1e1e1e 0%, #0c0c0c 100%);
  color: white;
}